@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .c-link{
    @apply
    text-white 
    md:text-white 
    hover:text-orange-400 
    transition 
    duration-700 
    ease-in 
    px-4
}
.c-container{
    @apply 
    mx-auto 
    px-4 
    bg-orange-400
    w-full
}
.c-search{
    @apply
    bg-slate-100
    text-black 
    font-bold 
    py-2 
    px-4 
    rounded-full 
    hidden 
    md:block
}
.c-trial{
    @apply
    mx-4 
    ml-32 
    text-orange-400 
    text-xs 
    border-transparent 
    bg-white 
    px-4 
    py-3 
    rounded-full 
    md:px-10 
    md:text-lg
    /* hover:bg-transparent 
    hover:border-white 
    transition-all */
}
.c-button-text-black{
    @apply
    mx-4
    text-black
    text-xs
    border-transparent 
    bg-orange-400    
    px-4 
    py-3 
    rounded-full
    md:px-10
    md:text-lg
    /* hover:bg-transparent 
    hover:border-white 
    transition-all */
}
.c-button-text-white{
    @apply
    mx-4
    text-white
    border-transparent 
    bg-orange-400 
    px-10 
    py-3 
    rounded-full 
    /* hover:bg-transparent 
    hover:border-white 
    transition-all */
}
.c-buttonoutline-text-white{
    @apply
    mx-4 
    text-xs 
    border-transparent 
    border border-white 
    px-4 
    py-3 
    rounded-full 
    md:px-10 
    md:text-lg
    /* hover:bg-orange-500 
    hover:border-transparent 
    transition-all */
}
.c-buttonoutline-text-orange{
    @apply
    mx-4 
    text-xs
    border-transparent
    text-orange-400 
    border border-orange-400 
    px-4 
    py-3 
    rounded-full 
    md:px-10 
    md:text-lg
    /* hover:bg-orange-500 
    hover:border-transparent 
    transition-all */
}
.c-text-center{
    @apply
    flex 
    items-center
}
.c-title-big{
    @apply
    text-base 
    text-black 
    font-bold 
    leading-relaxed 
    md:text-5xl
}
.c-title-small{
    @apply
    text-base 
    text-black 
    font-bold 
    max-w-md 
    leading-relaxed 
    py-5
    md:text-4xl
}
.c-desc{
    @apply
    text-xs 
    text-black 
    font-light 
    max-w-sm 
    mx-0 
    md:text-xl
}
.c-select-nemu{
    @apply
    block 
    appearance-none 
    w-80
    md:w-64 
    bg-white 
    border 
    border-gray-300 
    hover:border-gray-400 
    px-4 
    py-2 
    pr-8 
    rounded 
    leading-tight 
    focus:outline-none 
    focus:bg-white 
    focus:border-gray-500
}
.c-point-down{
    @apply
    pointer-events-none 
    absolute 
    inset-y-0 
    right-0 
    flex 
    items-center 
    px-2 
    text-gray-700 
    pt-3
    md:pt-10
}
.c-text-orange{
    @apply
    text-orange-400
}
.c-button-view{
    @apply
    mx-1
    text-white
    border-transparent 
    bg-orange-400 
    px-3 
    py-1 
    rounded-full 
    mt-5 
    w-28 
    mr-10 
    md:w-56 
    md:mx-4 
    md:px-10 
    md:py-3
}
}